#logo img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

#logo {
    padding: 10%;
    padding-bottom: 50px;
}

.searchbox {
    margin-top: -20px;
}

.sbf {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: auto;
    max-width: 700px;
    margin: auto;
    border: 1px solid grey;
}
#search input {
    font-size: 1.3em;
    line-height: 1.2em;
    border-color: #808080;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 750px;
    min-width: 375px;
    padding: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-left: 10px;
    padding-right: 25px;
    vertical-align: middle;
    width: 100%;
    border: 1px solid gray;
    border: medium none;
}

.btn {
    padding-top: 18px;
    height: 36px;
}

.btn input {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 1px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 34px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 11px 4px;
}

.btn input:hover {
    background: #f6f6f6;
    text-decoration: none;
}

/*!.navbar {
    position: absolute;
    top: -295px;
    right: 0;
    width: 100%;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;
    padding-right: 8px;
}

li {
    display: inline;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 1.15em;
}

.footer {
    position: absolute;
    bottom: 0;
    color: rgb(102, 102, 102);
    background-color: rgb(242, 242, 242);
    height: 40px;
    min-width: 980px;
    width: 100%;
}

.fl {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 40px;
}

.fl li {
    box-sizing: border-box;
    margin: 14px 13px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.fr {
    float: right;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 40px;
}

.fr li {
    box-sizing: border-box;
    margin: 14px 13px;
    font-family: arial, sans-serif;
    font-size: 13px;
}